<div {{bindAttr class=":event type"}}>
  <h4>
    <a {{bindAttr href="lanyrdUrl"}}>{{name}}</a>
    <span class="meta meta-date">
      {{date}}
    </span>
    <span class="meta meta-location">
      {{place}}
    </span>
  </h4>
  <p>
    {{details}}
  </p>
</div>
