<div class="col-md-3">
  <div class="person box">
  <a {{bindAttr href="url"}}><img {{bindAttr src="pictureUrl" alt="name"}}></a>
  <strong class="person-name"><a {{bindAttr href="url"}}>{{name}}</a></strong>
  {{{about}}}
</div>
</div>
