<div class="space col-md-6">
  <a {{bindAttr href="url"}}><img {{bindAttr src="pictureUrl" alt="name"}}></a>
  <strong class="space-name"><a {{bindAttr href="url"}}>{{name}}</a></strong>
  {{{about}}}
</div>
