<div class="container-full">
  <div class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">AfricaHackTrip</a>
    <ul class="nav navbar-nav">
      {{#linkTo index tagName="li"}}
        <a {{bindAttr href="view.href"}}>Home</a>
      {{/linkTo}}
      {{#linkTo kenya tagName="li"}}
        <a {{bindAttr href="view.href"}}>Kenya</a>
      {{/linkTo}}
      {{#linkTo uganda tagName="li"}}
        <a {{bindAttr href="view.href"}}>Uganda</a>
      {{/linkTo}}
      {{#linkTo rwanda tagName="li"}}
        <a {{bindAttr href="view.href"}}>Rwanda</a>
      {{/linkTo}}
      {{#linkTo tanzania tagName="li"}}
        <a {{bindAttr href="view.href"}}>Tanzania</a>
      {{/linkTo}}
    </ul>
  </div>
</div>
<div id="bigfatmap"></div>
<div class="container">
  {{outlet}}
</div>
