<div {{bind-attr class=":row id"}}>
  <main class="col-md-9">
    {{#if controller.model.events}}
      <section class="events">
        <h2>
          Events we organize
          <span class="meta">
            <a {{bind-attr href="lanyrdUrl"}}>Schedule on Lanyrd</a>
          </span>
        </h2>
        {{#each controller.model.events}}
           {{partial 'event'}}
         {{/each}}
      </section>
    {{/if}}

    {{#if controller.model.people}}
      <section class="people row">
        <h2>Excited to meet</h2>
        {{#each controller.model.people}}
          {{partial 'person'}}
        {{/each}}
      </section>
    {{/if}}

  </main>

  <aside {{bind-attr class=":country :col-md-3 id"}}>
    <h1>{{city_name}}</h1>
    <h3>{{dates}}</h3>
    <h2 class="flag">{{name}}</h2>
    <section class="country-info">
      {{{intro}}}
    </section>
  </aside>
</div>

{{#if controller.model.spaces}}
  <section class="row">
    <h2>Places / Hubs / Communities</h2>
    {{#each controller.model.spaces}}
      {{partial 'space'}}
    {{/each}}
  </section>
{{/if}}

{{#if controller.model.tiles}}
  <section class="">
    <h2>This is great</h2>
    <div class="row grid">
      {{#each controller.model.tiles}}
        {{partial 'tile'}}
      {{/each}}
    </div>
  </section>
{{/if}}
